.img{
    minHeight: 1500px;
    borderRadius: 30px;
    backgroundRepeat: no-repeat;
    backgroundSize: cover;
    backgroundAttachment: fixed;
    height: 100%;
    width: 100%;
    backgroundImage: url(man.jpg);
    margin: 0px 3px;
}